/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}
/* ////////////////////////////////////////////////MAIN/////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////MAIN/////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////MAIN/////////////////////////////////////////////////////////////// */
body {
  font-family: 'Heebo', sans-serif;
  color: #21243d;
}
.container {
  max-width: 886px;
  padding: 0 30px;
  margin: 0 auto;
}
.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 60/40 * 100%;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24/16 * 100%;
}
.header-content-container {
  max-width: 1052px;
  padding: 0 20px;
  margin: 0 auto;
}
.nav-list {
  height: 82px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.nav-link {
  margin-left: 33px;
  font-weight: 500;
  font-size: 20px;
  text-align: right;
  color: black;
  transition: color 0.3s ease 0s;
}
.nav-link:hover {
  color: #ff6464;
}
/* /////////////////////////////////////////////////////////// HELLO/////////////////////////////////////////////////////////////// */
.hello {
  padding: 123px 0 71px 0;
}
.hello-container {
  display: flex;
}
.hello-content {
  padding-top: 18px;
}
.hello-title {
  margin-bottom: 29px;
}
.hello-text {
  margin-bottom: 34px;
}
.btn {
  line-height: 145%;
  height: 47px;
  padding: 0 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  background-color: #ff6464;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background-color: #746262;
}
.hello-avatar {
  flex: 0 0 243px;
  height: 243px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 110px;
  box-shadow: -10px 20px 10px 0px #edf7fa;
}
/* /////////////////////////////////////////////////////WORK/////////////////////////////////////////////////////////////// */
span {
  margin: 0 15px;
}
.work {
  padding: 15px 0px 30px;
  background: #edf7fa;
}
.subtitle {
  color: #21243d;
  font-weight: 700;
  font-size: 26px;
  line-height: 38/26 * 100%;
}
.date {
  font-weight: 400;
  font-size: 18px;
  line-height: 26/18 * 100%;
}
.work-header {
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.preview {
  font-weight: 400;
  font-size: 22px;
  line-height: 60/22 * 100%;
}
.view {
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 24/16 * 100%;
  color: #00a8cc;
}
.work-body {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.work-body-item {
  border-radius: 3px;
  background-color: #ffffff;
  padding: 20px;
  margin: 0 -10px;
  width: 50%;
}

.work-subtitle {
  display: inline-block;
  transition: color 0.3s ease 0s;
  margin-bottom: 15px;
}
.work-subtitle:hover {
  color: #ff6464;
}
.work-date {
  margin-bottom: 18px;
}
/* /////////////////////////////////////////////////////////////////FUTURE///////////////////////////////////////////////// */
.big-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 44/30 * 100%;
  color: #21243d;
}
.future-work {
  padding: 33px 0 80px 0;
}
.future-preview {
  margin: 0 0 20px 0;
}
.future-item {
  display: flex;
  align-items: flex-start;
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #e0e0e0;
}
.future-img {
  max-height: 180px;
  max-width: 246px;
}
.future-item-content {
  padding: 0 0 0 18px;
}
.future-big-title {
  display: inline-block;
  margin: 0 0 17px 0;
  transition-duration: 0.3s;
}
.future-big-title:hover {
  color: #ff6464;
}
.future-info {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}

.future-date {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background-color: #142850;
  height: 25px;
  border-radius: 13px;
  color: white;
  font-weight: 900;
  font-size: 18px;
}
.pale-font {
  font-weight: 400;
  font-size: 20px;
  line-height: 29/20 * 100%;
  color: #8695a4;
}
.future-category {
  margin: 0 0 0 25px;
}
/* ////////////////////////////////////////////////////////////////FOOTER/////////////////////////////////////////////////////// */
.footer {
  background-color: #edf7fa;
}
.footer-container {
  height: 182px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content {
  text-align: center;
}
.social-icon-list {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}
.social-icon {
  font-size: 30px;
  color: #21243d;
  margin: 0 18px;
}
.copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 21/14 * 100%;
}
/* /////////////////////////////////////////////////////////////BLOG///////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////BLOG///////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////BLOG///////////////////////////////////////////////////////////// */
.blog {
  padding: 90px 0 50px 0;
}
.blog-title {
  margin: 0 0 55px 0;
}
.blog-item {
  padding: 0 0 30px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}
.blog-item:last-child {
  margin: 0 0 0 0;
}
.blog-subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 44/30 * 100%;
  color: #21243d;
  transition-duration: 0.3s;
  margin-bottom: 17px;
}
.blog-subtitle:hover {
  color: #ff6464;
}
.blog-info {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.palka {
  margin: 0 15px;
  font-size: 2rem;
}
/* ////////////////////////////////////////////////////////////WORK////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////WORK////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////WORK////////////////////////////////////////////////// */
.work-site {
  padding: 90px 0 0 0;
}
.big-work-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60/44 * 100%;
  margin: 0 0 33px 0;
}
/* /////////////////////////////////////////////////////////ARTICLE//////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////ARTICLE//////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////ARTICLE//////////////////////////////////////////////////// */
.article {
  padding: 78px 0 30px 0;
}
.article-container {
  max-width: 695px;
  margin: 0 auto;
  padding: 0 20px;
}
.article-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 50/34 * 100%;
  margin: 0 0 40px 0;
}
.article-info {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}
.article-date {
  height: 24px;
  background-color: #ff6464;
  border-radius: 13px;
  color: white;
  font-weight: 900;
  font-size: 18px;
  line-height: 140%;
  padding: 0 10px;
  margin: 0 10px 0 0;
}
.article-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 29/20 * 100%;
}
.article-text {
  margin: 0 0 46px 0;
}
.article-content {
  margin-bottom: 53px;
}
.heading1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 60/30 * 100%;
  margin-bottom: 20px;
}
.heading2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 60/24 * 100%;
  margin-bottom: 20px;
}
.article-img {
  width: 100%;
}
